<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Modelo WEB</mat-toolbar>
    <mat-nav-list>
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCompras"
        aria-expanded="true" aria-controls="collapseCompras" (click)="panelOpenState = !panelOpenState">
        <i class="fas fa-shopping-cart"></i>
        <span>Niveles</span> <span *ngIf="panelOpenState"> - </span> <span *ngIf="!panelOpenState"> + </span>
      </a>
      <div id="collapseCompras" class="collapse" aria-labelledby="headingCompras" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!--                        <h6 class="collapse-header">Custom Components:</h6>  -->
          <a mat-list-item class="collapse-item" [routerLink]="['nivel1']" style="font-size:12px">Nivel 1</a>
          <a mat-list-item class="collapse-item" [routerLink]="['nivel2']" style="font-size:12px">Nivel 2</a>
        </div>
      </div>

      <a mat-list-item [routerLink]="['cards']" style="font-size: 14px">Cards</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Navigation Angular</span>
      <span class="example-spacer"></span>

      <ul class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ userCurrent }} </span>
          <span class="material-icons mt-3">
            account_circle
          </span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in positionZ"
          aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Configurar
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Cerrar Sesión
          </a>
        </div>

      </ul>
    </mat-toolbar>

    <app-dashboard></app-dashboard>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="modal" id="logoutModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="text-align: center;">
        <h2 class="modal-title">Seguro que desea cerrar la Sesion?</h2>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CloseSession()">Si</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
