<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-5" style="margin-top: 20px;">
      <div class="col-sm-6 offset-sm-3">
        <mat-card class="mx-auto" style="width:85%">
          <div class="container text-center">
            <img src="/assets/account.jpg" width="100" height="100" alt="" />
          </div>
          <h1 class="text-center">Inicio de Sesion</h1>
          <h5> Utilice admin@web-model con admin</h5>

          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Correo</mat-label>
              <input type="email" required matInput [(ngModel)]="loginData.email" name="email"
                placeholder="Ingrese el username" required>
            </mat-form-field>
            <br />
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Ingrese Password</mat-label>
              <input type="password" required matInput [(ngModel)]="loginData.password" name="password"
                placeholder="Ingrese su Password">
            </mat-form-field>
            <br />
            <div class="container text-center">
              <div class="row">
                <div class="col-sm-6">
                  <button mat-raised-button color="primary">Inicio de Sesion</button>
                </div>
                <div class="col-sm-2">
                  <button type="reset" mat-raised-button color="accent">Limpiar</button>
                </div>
              </div>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
